@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

[v-cloak] { display: none; }

.header-highlight {
  color: #ff4954;
  font-family: 'IM Fell English SC', serif;
}

.info {
  padding: 1.5rem;
}


#videos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#videos video {
  flex: 1 1 50%;
  padding: 0;
  min-width: 0;
}